# Archivos generados por el sistema operativo y editores
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
.env

# Archivos de compilación y artefactos de Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Archivos de configuración local que no deben ser compartidos
android/local.properties
ios/local.properties
local.properties

# Logs y otros archivos temporales
*.log
*.swp

# Archivos específicos de Android
android/.gradle/
android/app/build/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.jks
*.keystore

# Archivos específicos de iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine.xcconfig
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Flutter/Generated.xcconfig
ios/Runner/Assets.xcassets/
ios/Runner/GoogleService-Info.plist

# Docker
# Generalmente, Dockerfile y docker-compose.yml se versionan.
# Si tienes artefactos de build de Docker que se guardan en el proyecto, añádelos aquí.
# Por ejemplo:
# docker/build/
# server/dist/

# Pubspec lock
# Se recomienda versionar pubspec.lock para asegurar que todos los desarrolladores
# y el entorno de CI/CD usen las mismas versiones de dependencias.
# Si prefieres no hacerlo, descomenta la siguiente línea:
pubspec.lock